<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Join</title>
    <link href="style.css" rel="stylesheet">
</head>
<body>
    <div id="app">
        <div class="title">Split & Join Strings</div>
        <div class="content">
            <div class="input-controls">
                <label>Original text</label>
                <textarea class="original-text" v-model="originalText"
                    placeholder="Put your text here">
                </textarea>
            </div>
            <div class="controls">
                <label>< Old Separator</label>
                <textarea class="old-separator-text" v-model="oldSeparator" 
                    v-bind:placeholder="oldSeparator === '' ? 'split by character' : ''">
                </textarea>
                <label>New Separator ></label>
                <textarea class="new-separator-text" v-model="newSeparator"
                    v-bind:placeholder="newSeparator === '' ? 'split by character' : ''">
                </textarea>
                <div class="duplicate-detail" >
                    <div v-if="separateDuplicates.duplicates.length">
                        <button v-on:click="transformedText = 'hihi'">Remove duplicates?</button>
                        <div class="duplicate-count">
                            <div v-for="dupe in getDuplicateCount">
                                <strong>Duplicate:</strong> {{dupe.name | handleWhiteSpace}}
                                |
                                <strong>Count:</strong> {{dupe.count}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="output-controls">
                <label>Transformed text</label>
                <textarea class="transformed-text" v-model="transformedText"
                    placeholder="Your transformed text will appear here"></textarea>
            </div>
        </div>
    </div>
    <script src="./script.js" defer></script>
</body>
</html>