@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

* { 
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

:root {
    --c-ta-border: grey;
}


.title {
    font-size: 40px;
}

.content {
    column-gap: 20px;
    grid-template-rows: repeat(9, 1fr);
}

/* Shared styles */
.app,
.content,
.controls,
.input-controls,
.output-controls,
.separators,
.original-text-container,
.transformed-text-container,
.duplicate-detail
{
    display: grid;
}

.app,
.content,
.separators {
    place-items: center;
}

.input-controls,
.output-controls {
    align-self: start;
    row-gap: 15px;
    text-align: center;
}

.controls {
    place-items: center;
    row-gap: 15px;
}

.input-controls, .controls, .output-controls {
    grid-row: 1 / span 9;
}


.original-text, .transformed-text {
    height: 70vh;
}

.old-separator-text, .new-separator-text {
    width: 80%;
}

/* Input control */
.input-controls {
    grid-column: 1;
}

/* Center control */
.controls {
    grid-column: 2;
}

/* Output control */
.output-controls {
    grid-column: 3;
}

.duplicate-detail {
    grid-row: 5 / span 4;
    row-gap: 15px;
}



/* Element styles */
textarea {
    resize: none;
    border: 1px solid var(--c-ta-border);
    border-radius: 15px;
    padding: 15px;
}

textarea[disabled] {
    background: white;
}

label {
    font-size: 20px;
}

button {
    padding: 5px;
    border-radius: 15px;    
}
